---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Premier League">
	<div class="grid grid-cols-4">
        <div class="bg-green-200 col-span-3">1</div>
        <div class="bg-green-400 col-span-1">2</div>
    </div>
</Layout>


