---
import plIcon from "../assets/img/logo-pl.webp";
---

<nav class="mx-auto flex justify-between items-center max-w-7xl py-4">
  <img src={plIcon.src} alt="logo" class="w-32" />
  <nav class="gap-x-10 flex flex-row">
    <a href="/">Home</a>
    <a href="/results">Results</a>
    <a href="/positions">Positions</a>
    <a href="/stats">Stats</a>
  </nav>
  <button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-search"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path
        d="M21 21l-6 -6"></path></svg
    >
  </button>
</nav>
